body
{
    background-image: url('../src/images/bg.jpg');
    background-size: 100% auto;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.right {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
}

.left {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
}